version: '3.9'

services:
  nginx:
    container_name: nginx
    build:
      dockerfile: ./docker/nginx/Dockerfile
    volumes:
      - ./docker/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8000:80
    expose:
      - 8000
    depends_on:
      - laravel

  laravel:
    container_name: laravel
    build:
      dockerfile: ./docker/laravel/Dockerfile
    volumes:
      - ./src:/var/www/app
      - ./docker/laravel/php.ini:/usr/local/etc/php/conf.d/xdebug.ini
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=kickoffreminder
      - DB_USERNAME=test
      - DB_PASSWORD=test123
    env_file:
      - ./src/.env
    ports:
      - 5173:5173
      - 9003:9003
    depends_on:
      - db
      - redis

  db:
    container_name: db
    image: mysql:8.0
    platform: linux/arm64
    ports:
      - 3306:3306
    restart: always
    environment:
      MYSQL_DATABASE: kickoffreminder
      MYSQL_USER: test
      MYSQL_PASSWORD: test123
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    
  pma:
    container_name: phpmyadmin
    image: arm64v8/phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=root
      - PHP_SESSION_SAVE_PATH=/tmp
    ports:
      - 8080:80
    depends_on:
      - db

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - 6379:6379
    volumes:
      - "./docker/redis/data:/data"
    command: redis-server
  
volumes:
  db_data: