includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 8

    ignoreErrors:
        - '#Access to an undefined property Laravel\\Socialite\\Contracts\\User::\$id\.#'
        - '#Access to an undefined property Laravel\\Socialite\\Contracts\\User::\$name\.#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkGenericClassInNonGenericObjectType: true
    checkMissingTypehints: true
    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false